body{
    margin:0;
    margin-top: -21px;
	height: 100%;
}

header {
    background-color: #52658F;
    height: 400px;
}

.cont1{
    margin: 0;
    height: 500px;
    background-color: #F7F5e6;
	width: 90%;
}

.cont2{
    margin: 0;
    height: 500px;
    background-color: #E0FFFF;
	width: 90%;
}

.cont3{
    margin: 0;
    height: 500px;
    background-color: #66CDAA;
	width: 90%;
}

/*NAV*/
.main ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,51,0,0.8);
    font-family: Typo Grotesk Thin Demo;
}

li {
    float: left;
}

li a {
    font-size: 20px;
    font-size: calc(12px + 0.7vw);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.vertical-menu ul {
	width: 10%; /* Set a width if you like */
	height: 100%;
	position: sticky;
	float: right;
    background-color: rgba(0,51,0,0.8); /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu ul:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu ul.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/*TXT*/

h1{
    display: block;
    font-family: Grotesk;
    font-size: 45px;
    font-weight: 100;
    color: white;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h11{
    font-family: Grotesk thin;
}

h2{
    display: block;
    font-family: Grotesk Thin;
    color: white;
}

@font-face {
    font-family: Grotesk;
    src: url("fonts/TYPO GROTESK DEMO.OTF");
}

@font-face {
    font-family: Grotesk Thin;
    src: url("fonts/TYPO GROTESK THIN DEMO.OTF");
}

