body{
    margin:0;
    padding: 0;
	height: 100%;
}

header {
    background-color: #52658F;
    height: 400px;
}

.main_cont{
	width: 85%;
    float: right;
    margin: 0;
    background-color: #ccc;
    
}

/*NAV*/

.main ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333A56;
    font-family: Grotesk Thin;
}

.main ul li {
    float: left;
    list-style-type: none;
}

.main li a {
    font-size: 15px;
    font-size: calc(12px + 0.7vw);
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.main li a:hover {
    background-color: #111;
}

.vertical-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #333A56;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.vertical-menu ul li {
    float: left;
    list-style-type: none;
}

.vertical-menu li a {
    font-size: 15px;
    font-size: calc(12px + 0.7vw);
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.main li a:hover {
    background-color: #111;
}

.vertical-menu ul:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu ul.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/*TXT*/

h1{
    display: block;
    font-family: Grotesk;
    font-size: 45px;
    font-weight: 100;
    color: white;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h11{
    font-family: Grotesk thin;
}

h2{
    display: block;
    font-family: Grotesk Thin;
    color: white;
}

@font-face {
    font-family: Grotesk;
    src: url("fonts/TYPO GROTESK DEMO.OTF");
}

@font-face {
    font-family: Grotesk Thin;
    src: url("fonts/TYPO GROTESK THIN DEMO.OTF");
}

